/*----------universal code-------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*-------------share font-------------------*/
.font-Inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn{
  background: linear-gradient(
    90deg,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%);
  padding: 0.75rem 1rem;
  border-radius: 1.875rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  box-shadow: 0 10px 30px rgba(255, 60, 172, 0.45);
  transition: all 0.3s ease;
  display: flex;
  gap: 10px;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 40px rgba(255, 60, 172, 0.65);
}
.btn-gap{
  padding-left: 4px;
}
.align-center{
  align-items: center;
  justify-content: center;
}
/*------------------nav style--------------*/
.nev-ber{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.navbar-menu ul{
  display: flex;
  text-decoration: none;
  gap: 2rem;
  font-size: 1rem;
  font-weight: 500;
  list-style: none;
}
.navbar-menu ul a{ 
  text-decoration: none;
  color: #ffffff;
  gap: 32px;
}
.navbar-menu ul a:hover{ 
  color: #9100F8;
}
/* ----banner section start ----- */
#banner-section{
background-image: url(images/hero-bg.png);
background-position: center;
padding: 100px 0;
margin: 0 auto;
text-align: center;
align-items: center;
}
.banner-container{
  width: 550px;
  margin: 0 auto;
  
 justify-content: center;
}
.banner-img{
background-image: url(images/hero-circle.png);
background-position: center;
background-repeat: no-repeat;
height: 350px;
}
.banner-img img{
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.bann-h1{
  color: #ffffff;
  font-size: 60px;
  font-weight: 800;
  padding: 40px 0 8px 0;
}
.bann-p{
  color: #ffffff;
  opacity: 80%;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 24px;
}
.bann-new{
  background-color: #00FF88;
  width: 75px;
  padding: 8px 16px;
  border-radius: 50px;
  position:relative;
  left: 350px;
  top: 15px;
}
.bann-btn2{
  padding: 0.75rem 1rem;
  border-radius: 1.875rem;
  cursor: pointer;
  border: solid 1px #00FF88;
  background-color: #1A0B2E;
  font-size: 1rem;
  font-weight: 700;
  color: #00FF88;
  transition: all 0.3s ease;
  display: flex;
  gap: 10px;
}
.bann-2btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
/* <!-- about-section-start --> */
#about-section{
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: #1A0B2E;
  padding: 50px 200px 120px;
}
.about-continer{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.about-count{
  display: flex;
  justify-content: center;
}
hr{
  border: none;
  border-top: 1px solid #c9c9c9;
  margin: 80px 0;
  opacity: 10%;
}
.about-h2{
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
}
.about-p{
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin: 14px 0;
  line-height: 28px;
  opacity: 80%;
}
.about-count{
  display: flex;
  gap: 80px;
}
.about-count h2{
  color: #00FF88;
  font-size: 48px;
  font-weight: 900;
}
.about-count {
  color: #ffffff;
  opacity: 80%;
  font-size: 16px;
  font-weight: 400;
}
.centre{
  display:inline-block ;
  align-items: center;
}
#card-section{
  background-color: #230E3D;
  text-align: center;
  padding: 120px 200px;
  align-items: center;
}
.card-continer{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-align: start;
  gap: 30px;
}
.card-h2{
  color: #ffffff;
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 40px;
}
.main-card{
  background-color: #351165;
  border-radius: 40px;
  padding: 40px;
}
.main-card h3{
  color: #ffffff;
  padding: 16px 0;
}
.main-card p{
  color: #ffffff;
  opacity: 60%;
  opacity: 60px;
  font-size: 16px;
  font-weight: 400;
}
#card-1{
  grid-row: span 2;
  align-items: center;
}
#card-2{
  grid-column: span 2;
}
#card-3{
  grid-column: span 2;
}
#card-4{
  grid-column: span 2;
  align-items: center;
}
#card-5{
  grid-row: span 2;
}
/* -------------footer-section-start ---------*/
#footer-section{
  margin: 0 auto;
  background-image: url(images/footer-bg.png);
  background-position: center;
  padding: 120px;
  text-align: center;
}
#footer-section .footer-container{
  margin: 0 auto;
  max-width: 1140px;
}
.footer-div{
  display: flex;
  margin: 32px 0;
  justify-content: center;
  gap: 20px;
}
.footer-info{
  display: flex;
  text-align: center;
  color: #ffffff;
  opacity: 80%;
  font-size: 16px;
  font-weight: 500;
  gap: 10px;
}
.footer-info img p{
  font-weight: 500;
}
.footer-p{
  color: #ffffff;
  opacity: 80%;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (max-width:576px){
#banner-section{
padding: 80px 0;
}
.banner-container{
  width: 400px;
}
.banner-img img{
  margin: 0 auto;
  margin-top: 40px;
}
.bann-h1{
  font-size: 40px;
  font-weight: 700;
  padding: 30px 0 8px 0;
}
.bann-p{
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 20px;
}
.bann-new{
  width: 75px;
  padding: 8px 16px;
  border-radius: 50px;
  position:relative;
  left: 280px;
  top: 15px;
}
.btn{
  padding: 0.75rem 1rem;
  border-radius: 1.875rem;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  box-shadow: 0 10px 30px rgba(255, 60, 172, 0.45);
  transition: all 0.3s ease;
  display: flex;
  gap: 10px;
}
.bann-btn2{
  padding: 0.75rem 1rem;
  border-radius: 1.875rem;
  cursor: pointer;
  border: solid 1px #00FF88;
  background-color: #1A0B2E;
  font-size: 14px;
  font-weight: 700;
  color: #00FF88;
  transition: all 0.3s ease;
  display: flex;
  gap: 10px;
}
.bann-2btn{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#about-section{
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}
.about-continer{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
hr{
  border: none;
  border-top: 1px solid #c9c9c9;
  margin: 40px 0;
}
.about-h2{
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}
.about-p{
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  margin: 14px 0;
  line-height: 28px;
  opacity: 80%;
}
.about-count h2{
  color: #00FF88;
  font-size: 40px;
  font-weight: 900;
}
.about-count {
  color: #ffffff;
  opacity: 80%;
  font-size: 14px;
  font-weight: 400;
  
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  
}

  #footer-section .footer-container{
  margin: 0 auto;
 max-width: 576px;
 width: 100%;
}
.footer-info{
  display: flex;
  font-size: 14px;
  font-weight: 400;
  gap: 5px;
}
.footer-div{
  /* max-width: 225px; */
  width: 255px;
  margin: 32px 0;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  margin-left: 0px;
}
.footer-p{
  font-size: 14px;
}
.header-logo{
  width: 100%;
}
}
